.star-rating-container {
    display: inline-flex;
    cursor: pointer;
    .rate {
        color: white;
        padding-right: 2px;
    }
    button {
        background: transparent;
        outline: none;
        border: 0px;
        padding: 0px;
        &:hover svg {
            fill: #eec407;
            stroke: #eec407;
            &:hover~svg {
                fill: transparent;
            }
        }
        svg.active {
            fill: #eec407;
        }
    }
}