<header class="header">
    <div class="header-container">
        <img (click)="goToHome()" class="logo" src="assets/logo.svg" alt="Logo" loading="lazy">
        <div class="right-container">
            <app-searchbar *ngIf="!isLoginRoute()" class="show-hide"></app-searchbar>
            <button *ngIf="(userAuth$ | async) === null && !isLoginRoute()" class="login-button" type="button" (click)="login()">Login</button>
            <span *ngIf="(userAuth$ | async) !== null" class="profile-avatar">
                <p class="text-lg">{{(userAuth$ | async)?.charAt(0) | uppercase}}</p>
            </span>
        </div>
    </div>
    <app-searchbar *ngIf="!isLoginRoute()" class="hide-show" style="width: 100%;"></app-searchbar>
</header>
<div *ngIf="(movies$ | async) as movies" class="searched-movies">
    <div *ngIf="movies.total_results > 0" class="searched-movies-container">
        <div *ngFor="let movie of movies.results">
            <app-card [isList]="true" [movie]="movie" style="width: 100%;"></app-card>
        </div>
    </div>
</div>

<app-toast></app-toast>