.header {
    padding: 16px;
    background-color: var(--darkBlue);
    position: fixed;
    top: 0px;
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    z-index: 10;
    .header-container {
        max-width: 1400px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .logo {
            width: 154px;
            object-fit: contain;
            cursor: pointer;
        }
        .right-container {
            display: flex;
            .searchbar {
                position: relative;
                display: flex;
                input {
                    max-width: 800px;
                    border-radius: 8px;
                    padding: 8px 44px;
                    outline: none;
                    margin-right: 24px;
                    border: 2px solid #e3e3e3;
                    color: white;
                    background-color: transparent !important;
                    background-image: url(/assets/search-white.png);
                    background-position: left center;
                    background-size: 20px;
                    background-position-x: 10px;
                    background-repeat: no-repeat;
                }
                .cross-button {
                    position: absolute;
                    right: 40px;
                    top: 0px;
                    bottom: 0px;
                    display: flex;
                    height: auto;
                    align-items: center;
                    background: transparent;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    .cross-icon {
                        width: 18px;
                        object-fit: contain;
                    }
                }
            }
            .login-button {
                color: var(--lightBlue);
                background-color: transparent;
                border: 1px var(--lightBlue) solid;
                border-radius: 8px;
                padding: 8px 24px;
                cursor: pointer;
                outline: none;
                &:hover {
                    color: var(--darkBlue);
                    background-color: var(--lightBlue);
                }
            }
            .profile-avatar {
                width: 36px;
                height: 36px;
                background: var(--lightBlue);
                border-radius: 100%;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.searched-movies {
    position: fixed;
    top: 0px;
    width: 100%;
    background: rgb(0, 0, 0, 0.2);
    margin-top: 67px;
    overflow-y: scroll;
    z-index: 10;
    height: 100vh;
    .searched-movies-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-top: 20px;
        padding-right: 16px;
        padding-left: 16px;
        padding-bottom: 40px;
        max-height: 80vh;
        overflow: scroll;
        background-color: white;
        border-radius: 0px 0px 24px 24px;
        div {
            display: flex;
        }
    }
}