<app-header></app-header>
<div *ngIf="(movie$ | async) as movie" class="body-movie-detail">
    <div class="poster" style="background-image: url('https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces/{{movie.backdrop_path}}');">
        <img class="poster-image z-1" [src]="'https://www.themoviedb.org/t/p/w220_and_h330_face/'+movie.poster_path" alt="Poster movie" loading="lazy">
        <div class="right-container z-1">
            <h1 class="text-4xl">{{movie.title}}</h1>
            <span *ngIf="movie.genres" class="genres text-sm">
                <p *ngFor="let genre of movie.genres" class="genre-name">{{genre.name}} </p>
            </span>
            <span class="main-informations text-lg">
                <p *ngIf="movie.release_date" class=" release-date">{{movie.release_date | date:'dd MMM, YYYY'}} • </p>
                <p *ngIf="movie.runtime" class=" runtime"> {{getRuntime(movie.runtime)}}</p>
            </span>
            <span class="rating">
                <p *ngIf="movie.vote_average" class="text-xl">User score: {{movie.vote_average / 10 | percent}} </p>
                <app-star-rating *ngIf="(userAuth$ | async) !== null" [rating]="(rating$ | async) ?? 0" (ratingValue)="getRating($event)"></app-star-rating>
            </span>
            <p *ngIf="movie.tagline" class="tagline text-lg">{{movie.tagline}}</p>
            <p *ngIf="movie.overview" class="overview-title text-xl">Overview</p>
            <p *ngIf="movie.overview" class="overview-content text-lg">{{movie.overview}}</p>
            <div class="more-info text-lg">
                <p *ngIf="movie.homepage" class="homepage"><b>Homepage: </b> <a href="{{movie.homepage}}">{{movie.homepage}}</a></p>
                <p *ngIf="movie.status" class="status"><b>Status:</b> {{movie.status}}</p>
                <p *ngIf="movie.original_language" class="original-language"><b>Original Language:</b> {{movie.original_language}}</p>
            </div>
        </div>
        <div class="linear-gradient"></div>
    </div>
</div>
<div class="background"></div>