<app-header></app-header>
<div class="body">
    <h1 class="text-3xl title">Login to your account</h1>
    <div class="login">
        <app-input (textValue)="getEmail($event)" [text]="email" style="width: 100%;" type="email" label="Username"></app-input>
        <app-input (textValue)="getPassword($event)" [text]="password" style="width: 100%;" type="password" label="Password"></app-input>
        <button (click)="login()" [disabled]="email === '' || password === ''" class="button" type="button">Login</button>
    </div>
</div>