.card-list {
    display: flex;
    border: 1px solid #e3e3e3;
    border-radius: 16px;
    max-height: 186px;
    height: 100%;
    justify-content: flex-start;
    width: 100%;
    cursor: pointer;
    background: transparent;
    outline: none;
    padding: 0px;
    .image {
        object-fit: contain;
        object-position: center;
        border-bottom-left-radius: 16px;
        border-top-left-radius: 16px;
        margin-right: 8px;
        max-height: 186px;
    }
    .text-container {
        display: flex;
        flex-direction: column;
        padding: 16px;
        align-items: flex-start;
        text-align: left;
        .title {
            color: var(--darkBlue);
            font-weight: 600;
            margin-bottom: 12px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
        .release-date {
            color: #999;
            margin: 0px;
        }
        .overview {
            color: var(--darkBlue);
            margin: 0px;
            margin-top: 20px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
    }
    &:hover {
        .image {
            opacity: 0.8;
        }
        .text-container {
            .title {
                color: var(--lightBlue);
            }
        }
    }
}

@media (max-width: 680px) {
    .card-list {
        .text-container {
            .overview {
                margin-top: 8px;
            }
        }
    }
}